# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Envs
.env
.venv
env/
venv/
pipeline/envs/*/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Output / working data
output/
temp/
*.pkl
